*{
    box-sizing: border-box;
}

:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80.5%;
}

body{ 
    margin: 0%;
}

#top{
    width: 100%;
    height: 20rem;
    background-image: url(img/imagem_top.jpg);
    background-position: center 30%;
    background-size: cover;    
}

#menu{
    display: flex;
    background-color: #0a1462;
    justify-content: center;
}

#menu div{
    color: white;
    align-self: center;
    padding-left: 15%;
}

#menu a:hover{
    text-decoration:none;
    background: rgb(182, 240, 192);
    border-radius: 0.5rem; 
    color: black;  
}

#menu nav a{
    font-size: 1.15rem;
    display: inline-block;
    color: white;
    padding: 0.2rem 1rem;
    text-decoration: none;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.perfil_pequeno{
    display: contents;
}

.perfil{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 10rem;
    margin: 0.3rem;
    border: 0.06rem solid;
}

h1{
    font-size: 3.43rem;
    margin-block: 0rem;
}

.subtitulo{
    font-size: 2.12rem;
    font-weight: 100;
}

h3{
    font-size: 2.12rem;
    font-weight: 700;
}

.texto{
    font-size: 1.31rem;
    font-weight: 500;
    margin-block: 0rem;
    padding-bottom: 4%;
}

.link{
    margin: .3rem;
}



.coluna1{
    margin-top: -1.75rem;
}

.coluna2{
    padding: 0.5rem 10rem 3rem 3rem;
}

.perfil2 {
    margin-top: -9.06rem;
    margin-left: 13.31rem;
    width: 18.25rem;
    height: 18.25rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0rem 0.18rem 0.37rem #00000029;
    opacity: 1;
    border-radius: 11rem;
    border: inset;
}

.logo{
    width: 3.12rem;
    height: 3.12rem;   
    border: 0.06rem solid #ffffff;
    border-radius: 10rem;
}

.margin_logoGit{
    margin-left: 16.43rem;
}

.icone{
    margin: 3rem 1rem 1.5rem 1rem;
}

h2{
    font-size: 3.43rem;
    font-weight: lighter;
    margin-block: 0rem;
    padding-top: 4%;
    padding-bottom: 3%;

}

.formacion{
    background-color: rgb(76 148 255);
    padding-bottom: 5%;
}

.experiencia{
    background-color: #7af6d6;
    padding-bottom: 5%;
}

.proyectos{
    background-color: rgb(76 148 255);
    padding-bottom: 5%  
}

.contato{
    background-color: #7af6d6;
    padding-bottom: 5%;
    display: flex;    
}

.margin_section{
    padding-left: 22%;
}

.boton{
    text-decoration: none;
    padding: 0.18rem;
    padding-left: 0.62rem;
    padding-right: 0.62rem;
    font-family: helvetica;
    font-weight: 300;
    font-style: normal;
    color: white;
    background-color: black;
    border-radius: 0.93rem;
    border: 0.18rem double #006505;
    margin-left: 4%;
  }

#boton_nav{
    display: none;
}

.boton:hover{
    background-color: rgb(52, 52, 241);
    color: blanchedalmond;
    opacity: 0.6;
    text-decoration: none;
  }

.años, .univer{
    font-size: 0.81rem; 
    font-weight: 700;
    margin-block: 0rem;
}

.grado{
    font-size: 1.31rem;
    font-weight: 900;
    margin-block: 0rem;
}

.univer{
    text-transform: uppercase;
}

.nome_projeto{
    margin-left: 4%;
    font-size: 1.31rem;
    margin-block: 0rem;
}

.texto_projeto{
    font-size: 0.81rem;
    margin: 4% 4% 12%;
}

.projeto1{
    top: 110.813rem;
    left: 34.62rem;
    width: 16.25rem;
    height: 20.93rem;
    background: #76efc7 0% 0% no-repeat padding-box;
    box-shadow: 0rem 0.18rem 0.37rem #00000029;
    border-radius: 0.31rem;
    opacity: 1;
}

.portal{
    width: 91%;
    margin: 4%;
    border: 0.06rem solid #707070;
    opacity: 1;
}

.contato_logos{
    width: 37%;
}

.formulario{
    margin-top: 9%;
    padding-left: 3%;
}

.label, .margin_top{
    margin-top: 3%;
}

.text{
    width: 24.87rem;
    height: 2.12rem;
}

.textarea{
    width: 24.87rem;
    height: 8.31rem;
}

.texto_contato{
    font-size: 1.31rem;
    margin-top: 6%;
}

footer{
    background-color: #0a1462;
    text-align: center;
    color: white;
    margin-block: 0rem;
    padding: 1%;
}

p{
    margin-block: 0rem;
}

.tempo_actividade{
    margin: 3% 0%;
}

@media screen and (min-width: 1190px ){
    :root{
        font-size: 100%;
    }   
}  

@media screen and (min-width: 1022px ) and (max-width: 1189px ){
    :root{
        font-size: 90.5%;
    }   
} 

@media screen and (min-width: 760px ) and (max-width: 1021px ){
    .margin_logoGit {
        margin-left: 7.43rem;
    }
    .perfil2{
        margin-left: 4.31rem;
    }
    .coluna2 {
        padding: 0.5rem 2rem 3rem 2rem;
    }
} 

@media screen and (min-width: 637px ) and (max-width: 759px ){
    .margin_logoGit {
        margin-left: 5.43rem;
    }
    .perfil2{
        margin-left: 2.31rem;
    }
    .coluna2 {
        padding: 0.5rem 2rem 3rem 2rem;
    }
    .margin_section {
        padding-left: 5%;
    }
    #botão_nav, #menu div{
        display: block;
    }
    #menu div{
        padding-left: 0%;
    }
    #botão_nav{
        background-color: transparent;
        width: 4rem;
        height: 3.5rem;
        border: .1rem solid rgba(0,0,0,.2);
        border-radius: .4rem;
    }
    #botão_nav div {
        background-color: white;
        height: .4rem;
        border-radius: .4rem;
    }
    #botão_nav div + div {
        margin-top: .3rem;
    }
    #menu nav a{
        display: none;
    }
    #menu{
        justify-content: space-between;
        padding: 0rem 2.5rem;
    }
}

@media screen and (max-width: 636px ){
    :root{
        font-size: 76.5%;
    }
    .center{
        text-align: center;
    }
    .margin_logoGit {
        margin-left: 0rem;
    }
    .perfil2{
        margin-left: 0rem;
    }
    .coluna2 {
        padding: 0.5rem 1rem 3rem 1rem;
    }
    .margin_section {
        padding: 0rem 0.5rem 3rem .5rem;
    }
    .primeira{
        display: block;
    }
    .contato{
        display: block;
    }
    .contato_logos{
        width: auto;
    }
    .formulario{
        text-align: center;
        padding-left: 0rem;
    }
    #botão_nav, #menu div{
        display: block;
    }
    #menu div{
        padding-left: 0%;
    }
    #botão_nav{
        background-color: transparent;
        width: 4rem;
        height: 3.5rem;
        border: .1rem solid rgba(0,0,0,.2);
        border-radius: .4rem;
    }
    #botão_nav div {
        background-color: white;
        height: .4rem;
        border-radius: .4rem;
    }
    #botão_nav div + div{
        margin-top: .3rem;
    }
    #menu nav a{
        display: none;
    }
    #menu{
        justify-content: space-between;
        padding: 0rem 2.5rem;
    }

}